In [3]:
import pandas as pd
import numpy as np
import sklearn
import glob
from pathlib import Path

In [48]:
#Read the dataset
path = '../example_data/peakdata/labelled_output/'
all_files = glob.glob(path + "/*.csv")

In [49]:
for i in range(len(all_files)):
    if i == 0:
        df = pd.read_csv(all_files[i])
        df['source'] = all_files[i]
    else:
        df_else = pd.read_csv(all_files[i])
        df_else['source'] = all_files[i]
        df = df.append(df_else, ignore_index = True)

In [50]:
#reshape data
df.columns = ['index', 'mz', 'i array', 'label', 'source']
df = pd.DataFrame(df, columns = ['mz', 'i array', 'label', 'source', 'index'])
df.head()

,mz,i array,label,source,index
0,593.411581,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,../example_data/peakdata/labelled_output\100ba...,680
1,196.997350,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,../example_data/peakdata/labelled_output\100ba...,60
2,327.006530,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2,../example_data/peakdata/labelled_output\100ba...,280
3,420.975690,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,../example_data/peakdata/labelled_output\100ba...,488
4,483.345794,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,../example_data/peakdata/labelled_output\100ba...,568

In [51]:
df_relabel = df[(df['label'] != 3) & (df['label'] != 2) & (df['label'] != 1)] #df for mislabelled peaks

In [52]:
df_model = df.drop(df_relabel.index) #data for modeling, now have ~3500 rows of data