In [2]:
import sys
sys.path.append('../mss')
import alignment

In [4]:
# read in example files to create one sample dataframe
path = '../example_data/batch/'
alignment.stack(path)

100%|██████████| 3/3 [00:00<00:00, 28.78it/s]

       RT (min)  Precursor m/z           Area
0      0.578250     179.035797   26772.347656
1      0.583783     201.072601    9090.625000
2      0.583783     217.048904   17694.775391
3      0.589317     142.035004   17614.511719
4      0.589317     158.011902   64892.605469
...         ...            ...            ...
1178  21.128429     333.973297   18278.093750
1179  21.133970     181.979004   29594.367188
1180  21.156099     204.995804   13022.894531
1181  21.189301     157.976303   82636.648438
1182  21.233580     155.974594  211047.531250

[3541 rows x 3 columns]

In [6]:
alignment.realignment(path, 'test1')

100%|██████████| 3/3 [00:00<00:00, 64.20it/s]
100%|██████████| 3541/3541 [00:08<00:00, 411.20it/s]

,Average RT (min),Average m/z,20180815_CEC_CAL-8-no4_MSpos_1.txt,20180815_CEC_CAL-8-no4_MSpos_2.txt,20180815_CEC_CAL-8-no4_MSpos_3.txt
0,21.084499,102.969101,0.000000,15183.334961,0.000000
1,0.691433,104.107094,57465.140625,57533.378906,59369.976562
2,21.014219,104.107300,19167.992188,0.000000,0.000000
3,19.097570,104.992500,0.000000,0.000000,416176.062500
4,18.033501,104.992554,314116.125000,403594.875000,0.000000
...,...,...,...,...,...
1482,16.741003,1371.005005,15581.069336,9069.611328,16352.015625
1483,16.753281,1372.015015,6055.832031,0.000000,0.000000
1484,16.928370,1429.050049,0.000000,0.000000,17692.974609
1485,19.214556,1429.889282,5220.221191,6122.378906,10042.854492
1486,16.908220,1430.045044,6814.234375,0.000000,0.000000