In [8]:
import sys
sys.path.append('../mss')
import alignment
import numpy as np

In [2]:
# read in example files to create one sample dataframe
path = '../example_data/batch/test1/'
df1 = alignment.stack(path)

100%|██████████| 3/3 [00:00<00:00, 30.07it/s]

In [3]:
df1.sort_values(by='Area',ignore_index=False)

       RT (min)  Precursor m/z          Area
177    0.622517     666.922485  1.619639e+03
299    0.633583     704.928406  1.677428e+03
18     0.589317     402.949493  1.680986e+03
84     0.594850     452.872711  1.713912e+03
53     0.593233     370.881805  1.802052e+03
...         ...            ...           ...
1055  19.213779     722.511230  2.751157e+07
1058  19.232370     722.511475  2.912738e+07
1044  19.214121     721.508606  5.579585e+07
1054  19.213779     721.507874  5.622016e+07
1045  19.226830     721.507812  5.901202e+07

[3541 rows x 3 columns]

In [19]:
df1.iloc[len(df1)-1]

RT (min)             21.233580
Precursor m/z       155.974594
Area             211047.531250
Name: 1182, dtype: float32

In [5]:
alignment.realignment(path, 'test')

100%|██████████| 3/3 [00:00<00:00, 44.87it/s]
100%|██████████| 3541/3541 [00:15<00:00, 222.89it/s]

,Average RT (min),Average m/z,20180815_CEC_CAL-8-no4_MSpos_1.txt,20180815_CEC_CAL-8-no4_MSpos_2.txt,20180815_CEC_CAL-8-no4_MSpos_3.txt
0,21.084499,102.969101,0.000000,15183.334961,0.000000
1,0.691433,104.107094,57465.140625,57533.378906,59369.976562
2,21.014219,104.107300,19167.992188,0.000000,0.000000
3,19.097570,104.992500,0.000000,0.000000,416176.062500
4,18.033501,104.992554,314116.125000,403594.875000,0.000000
...,...,...,...,...,...
1482,16.741003,1371.005005,15581.069336,9069.611328,16352.015625
1483,16.753281,1372.015015,6055.832031,0.000000,0.000000
1484,16.928370,1429.050049,0.000000,0.000000,17692.974609
1485,19.214556,1429.889282,5220.221191,6122.378906,10042.854492
1486,16.908220,1430.045044,6814.234375,0.000000,0.000000