This notebook displays the functionality in the alignment file. There are two parts essentially built in the function.

In [1]:
import sys
sys.path.append('../mss')
import alignment
import numpy as np
import pandas as pd

It takes in the given path where all of the files have been output into and reads them in one by one to create one dataframe. It returns the total number of files located in the path and the dataframe.

In [3]:
# read in example files to create one sample dataframe
path = '../example_data/peakdata/mssoutput/'
#alignment.stack(path)

The dataframe created from above the function is later used in the realignment function. It creates a reference dataframe based off the first sample. If any rows that exist from the above dataframe in the reference, it realigns them within a user inputted error for rt/mz. If they do not exist, then the rows will be added to the reference and will be used moving forward for any following samples. The reference dataframe will be turned in terms of the file type that the user prefers.

In [4]:
df = alignment.realignment(path, 'may.2.2020', '.csv', 0.05, 0.015)

Reading in files...
Process completed!
Initial reference built
Alignment beginning..

 25%|██▌       | 2439/9717 [00:12<00:37, 195.67it/s]../mss\alignment.py:91: RuntimeWarning: invalid value encountered in greater
  if (alignment_df.iloc[overlap, col_index]) > 0:
100%|██████████| 9717/9717 [00:57<00:00, 168.51it/s]

Alignment done!
File saved

In [10]:
df = df.astype(np.float32)

In [ ]:
pd.DataFrame()

In [11]:
df

,Average m/z,Average RT (min),Average sn,Average score,20181114_CoulterCreek_2,20181114_Crescent-Creek-May_2,20181114_SR518-Cal_1000mL_dil-to-160mL_3,20181114_SR520-Cal-in-DI_1000mL_dil-to-60mL_1,20181114_SR520-Cal-in-DI_400mL_2,20181114_SwanCreek-Dec_3
0,100.111603,5.590000,inf,0.10,745722.56250,0.0000,0.000000,0.00000,0.000000,0.000000
1,100.111671,5.470000,inf,0.40,0.00000,658076.9375,0.000000,0.00000,461195.968750,691249.000000
2,100.111801,5.340000,1.649,0.60,0.00000,0.0000,136595.515625,0.00000,0.000000,0.000000
3,107.070297,13.760000,inf,1.00,0.00000,0.0000,0.000000,0.00000,111404.835938,0.000000
4,114.091904,3.530000,inf,0.60,0.00000,0.0000,0.000000,0.00000,123020.796875,0.000000
...,...,...,...,...,...,...,...,...,...,...
5379,1350.883789,19.264000,inf,0.48,407645.21875,0.0000,396962.562500,355496.00000,315320.406250,434850.781250
5380,1350.884521,19.382999,inf,0.60,411676.21875,0.0000,0.000000,408221.46875,419165.937500,0.000000
5381,1392.412842,20.740000,1.070,0.60,154861.71875,0.0000,0.000000,0.00000,0.000000,0.000000
5382,1393.415649,20.700001,1.062,0.60,0.00000,245449.8125,0.000000,0.00000,0.000000,0.000000
5383,1393.416748,20.799999,1.049,1.00,0.00000,0.0000,0.000000,0.00000,0.000000,120048.484375