In [1]:
import sys
sys.path.append('../mss')
import alignment
import numpy as np

In [2]:
# read in example files to create one sample dataframe
path = '../example_data/batch/test1/'
num_files, df1 = alignment.stack(path)

Reading in files...
Process completed!

In [3]:
df1.sort_values(by='Area',ignore_index=False)

       RT (min)  Precursor m/z          Area
177    0.622517     666.922485  1.619639e+03
299    0.633583     704.928406  1.677428e+03
18     0.589317     402.949493  1.680986e+03
84     0.594850     452.872711  1.713912e+03
53     0.593233     370.881805  1.802052e+03
...         ...            ...           ...
1055  19.213779     722.511230  2.751157e+07
1058  19.232370     722.511475  2.912738e+07
1044  19.214121     721.508606  5.579585e+07
1054  19.213779     721.507874  5.622016e+07
1045  19.226830     721.507812  5.901202e+07

[3541 rows x 3 columns]

In [19]:
df1.iloc[len(df1)-1]

RT (min)             21.233580
Precursor m/z       155.974594
Area             211047.531250
Name: 1182, dtype: float32

In [4]:
test=alignment.realignment(path, 'test', '.csv', 0.05, 0.015)

  1%|          | 34/3541 [00:00<00:10, 337.29it/s]

Reading in files...
Process completed!
Initial reference built
Alignment beginning..

100%|██████████| 3541/3541 [00:12<00:00, 281.84it/s]

Identified invalid peak(s)
Removed invalid peak(s) from reference
Alignment done!
File saved

In [3]:
count = 0
counts = []
for rows in range(len(test)):
    count = np.count_nonzero(test.iloc[rows, 2:])
    if count > 0:
        count +=1
    else:
        counts.append(rows)
counts

NameError: name 'test' is not defined

In [5]:
counts[0]

235

In [5]:
test.index[235]

235

In [8]:
test = test.drop(test.index[counts[0]])

In [6]:
test.index[234]

234